* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%);
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, #c1121f, #f77f00, #ffba08);
    opacity: 0.8;
}

.left-content {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 2;
}

.left-content i {
    font-size: 70px;
    margin-bottom: 15px;
}

.left-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.left-content p {
    font-size: 20px;
}

.right {
    width: 50%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-box {
    width: 100%;
    max-width: 450px;
    padding: 40px;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

.card h2 {
    font-size: 32px;
    margin-bottom: 5px;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: 14px;
}

input {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
    outline: none;
}

input:focus {
    border-color: #0062ff;
}

.btn {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #0062ff, #00b7ff);
    margin-top: 10px;
}

.btn:hover {
    opacity: .9;
}

.footer-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-text a {
    color: #0062ff;
    font-weight: bold;
    text-decoration: none;
}

select {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
    background: #ffffff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    transition: border 0.3s;
    background-image: linear-gradient(45deg, transparent 50%, #0062ff 50%),
                      linear-gradient(135deg, #0062ff 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(50% - 5px),
                          calc(100% - 15px) calc(50% - 5px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

select:focus {
    border-color: #0062ff;
}

.Selecionar {
    background-color: #c8c8c8;
    color: black;
}

.gerente {
    background-color: #92d7f3;

}