* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%);
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, #c1121f, #f8b874, #ffba08);
    opacity: 0.8;
}

.left-content {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 2;
}

.left-content i {
    font-size: 70px;
    margin-bottom: 15px;
}

.left-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.left-content p {
    font-size: 20px;
}

.right {
    width: 50%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 40px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

.login-box h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.login-box p {
    color: gray;
    margin-bottom: 25px;
}

.tabs {
    width: 100%;
}

.tabs input[type="radio"] {
    display: none;
}


.tab-btn {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    transition: 0.3s;
}

.tab-btn i { margin-right: 6px; }

#tab-gerente:checked + label {
    color: #b40000;
    border-color: #b40000;
}

#tab-funcionario:checked + label{
    color: #0054d1;
    border-color: #0054d1;
}

.tab-content {
    display: none;
    margin-top: 25px;
}

#tab-gerente:checked ~ #content-gerente { display: block; }
#tab-funcionario:checked ~ #content-funcionario { display: block; }


form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

label {
    font-weight: bold;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
}

.btn {
    margin-top: 10px;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.gerente-btn {
    background: linear-gradient(to right, #b40000, #ff4800);
}

.func-btn {
    background: linear-gradient(to right, #023689, #0881b1);
}

.info-box {
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    font-size: 13px;
    border: 1px solid;
}

.gerente-info {
    background: #ffe7d6;
    border-color: #ffad7a;
}

.func-info {
    background: #dbe7ff;
    border-color: #8bb1ff;
}

.version {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: gray;
}
